.about{
    padding: 6rem 3.125rem;
    display: flex;
    flex-direction: column;
}

.about h1{
    text-align: center;
    
}

.description{
     display: flex;
     justify-content: center;
     color: #000;
     margin-top: 3rem;
}

.description img{
    width: 25rem;
    height: fit-content;
    margin-left: 4rem;
    border-radius: 10%;
}

.description p {
    font-size: 1.2rem;
    width: 60vw;
}

@media  screen and (max-width:1200px) {
    .description {
        flex-direction: column;
        width: 100%;
align-items: center;    }

    .description p{
        width: 100%;
    }
}
